.body{
    background-color: black;
    height:100vh ;/*900px*/
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    display: flex;
}

.card{
    background-color: #fff;
    font-size: 14px;
    padding: 20px;
    line-height: 1.5;
    width: 90%;
    max-width: 320px;
    box-shadow: 8px 8px 8px #5e5d5d;
    border: 1px solid;
}